@page "/login"
@using TestLogin.Shared;
@inherits LayoutComponentBase
@inject IAuthRepository AuthRepository
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<h3>Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="username">Name</label>
    <InputText id="username" @bind-Value="username" />
    <label for="password">Password</label>
    <InputText id="password" @bind-Value="password" type="password" />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

<p style="color: white;">Don't have an account? <a href="/register" style="color: white;">Register</a></p>

@code {
    private UserLoginDto user = new UserLoginDto();
    [Parameter]
    public string username { get; set; }
    [Parameter]
    public string password { get; set; }

    async Task HandleLogin()
    {
        var serviceResponse = await AuthRepository.Login(username, password);
        await LocalStorage.SetItemAsync("token", serviceResponse.Data);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavManager.NavigateTo("/");
    }
}