@page "/register"
@using TestLogin.Shared;
@using TestLogin.Shared.Dto.User;
@inherits LayoutComponentBase
@inject IAuthRepository AuthRepository
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager

<h3>Register</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="username">Create Name</label>
    <InputText id="username" @bind-Value="username" />
    <label for="password">Create Password</label>
    <InputText id="password" @bind-Value="password" type="password" />
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

<p style="color: white;">Don't have an account? <a href="/register" style="color: white;">Register</a></p>

@code {
    private UserLoginDto user = new UserLoginDto();
    [Parameter]
    public string username { get; set; } = string.Empty;
    [Parameter]
    public string password { get; set; } = string.Empty;

    async Task HandleLogin()
    {
        var serviceResponse1 = await AuthRepository.Register(username, password);
        var serviceResponse2 = await AuthRepository.Login(username, password);
        await LocalStorage.SetItemAsync("token", serviceResponse2.Data);
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavManager.NavigateTo("/");
    }
}